<%- include('partials/header') -%>

<div>
    <div class="feed-header">
        <div class="index-title">
            <img src="/img/logo.svg" alt="">
            <h1>Reading Recs</h1>
        </div>
        <h1>
            <a href="/profile"><%= user.userName %>'s Profile</a>
        </h1>
    </div>
    <div class="page-title">
        <h2>Your Favourites</h2>
        <a href="/profile" class="page-subtitle">Your Profile</a>
        <a href="/feed" class="page-subtitle">Your Feed</a>
    </div>
   <div>
    <ul class="parent">
        <% for(let i = 0; i < posts.length; i++) {%>
            <li>
                <a href="/post/<%= posts[i].post._id%>">
                    <img class="child" src="<%= posts[i].post.image%>" alt="">
                </a>
                <p><%= posts[i].post.title%></p>
            </li>
        <% } %>
    </ul>
   </div>
</div>

<%- include('partials/footer') -%>