<%- include('partials/header') -%>

<div>
    <div>
        <ul>
            <% for(let i = 0; i < posts.length; i++) {%>
                <li>
                    <a href="/post/<%= posts[i]._id%>">
                        <img src="<%= posts[i].image%>" alt="">
                    </a>
                </li>
                <li>
                    <a href="/post/<%= posts[i]._id%>"><%= posts[i].title%></a>
                </li>
                <li>
                    <a href="/post/<%= posts[i]._id%>"><%= posts[i].caption%></a>
                </li>
            <% } %>
        </ul>
    </div>
    <div>
        <a href="/profile">Back to Profile</a>
    </div>
</div>

<%- include('partials/footer') -%>