<%- include('partials/header') -%>

<div>
    <div>
        <div class="feed-header">
            <div class="index-title">
                <img src="/img/logo.svg" alt="">
                <h1>Reading Recs</h1>
            </div>
            <h1>
                <a href="/profile"><%= user.userName %>'s Profile</a>
            </h1>
        </div>
        <div class="page-title">
            <h2>Your Feed</h2>
            <a href="/profile" class="page-subtitle">Your Profile</a>
            <a href="/favourites" class="page-subtitle">Your Favourites</a>
        </div>
        <ul class="parent feed-grid">
            <% for(let i = 0; i < posts.length; i++) {%>
                <li>
                    <a href="/post/<%= posts[i]._id%>">
                        <img class="child" src="<%= posts[i].image%>" alt="">
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
</div>

<%- include('partials/footer') -%>