<%- include('partials/header') -%>

<div class="feed-header">
    <div class="index-title">
        <img src="/img/logo.svg" alt="">
        <h1>Reading Recs</h1>
    </div>
        <a href="/profile" class="index-link"><%= user.userName %>'s Profile</a>
</div>
<div class="post-container">
    <div class="post-container-top">
        <div class="post-container-img">
            <img src="<%= post.image%>" alt="">
        </div>
        <div class="post-container-text">
            <h2><%= post.title %></h2>
            <div class="post-container-rec">
                <h4>Should I Read It?</h4>
                <p><%= post.shouldIRead %></p>
            </div>
            <div class="post-container-explanation">
                <h4>Why Should I Read It?</h4>
                <p><%= post.caption %></p>
                <% if(post.rating === 1) { %>
                    <p>⭐</p>
                <% } %>
                <% if(post.rating === 2) { %>
                    <p>⭐⭐</p>
                <% } %>
                <% if(post.rating === 3) { %>
                    <p>⭐⭐⭐</p>
                <% } %>
                <% if(post.rating === 4) { %>
                    <p>⭐⭐⭐⭐</p>
                <% } %>
                <% if(post.rating === 5) { %>
                    <p>⭐⭐⭐⭐⭐</p>
                <% } %>
            </div>
            
            <div class="post-icons">
                <div class="post-icons-like">
                    <form action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
                        <button class="fa fa-thumbs-up" type="submit"></button>
                    </form>
                    <% if(post.likes > 0){%>
                    <h3><%= post.likes %></h3>
                <% } %>
                </div>
                <div class="post-icons-favourite">
                    <form action="/post/favouritePost/<%= post.id %>" method="POST">
                        <button class="btn fa fa-star" type="submit"></button>
                    </form>
                </div>
                <div class="post-icons-trash">
                    <% if(post.user == user.id) { %>
                        <form 
                            action="/post/deletePost/<%= post.id %>?_method=DELETE" 
                            method="POST"
                        >
                            <button class="btn btn-primary fa fa-trash" type="submit"></button>
                        </form>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-container">
        <h2 class="comment-heading">Add a comment</h2>
        <form action="/comment/createComment/<%=post._id%>" method="POST">
            <div class="comment-form">
                <input type="text" id="comment" name="comment" placeholder="Comment" class="comment-input">
                <button type="submit" class="submit-btn">Submit</button>
            </div>
        </form>
        <div>
            <ul class="comment-box">
                <% for(let i = 0; i < comments.length; i++){ %>
                    <li class="comment-individual">
                        <%= comments[i].comment%>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>