<%- include('partials/header') -%>

<div>
    <img src="<%= post.image%>" alt="">
    <h2><%= post.title %></h2>
    <p><%= post.caption %></p>
</div>

<div>
    <% if(post.user == user.id) { %>
        <form 
            action="/post/deletePost/<%= post.id %>?_method=DELETE" 
            method="POST"
        >
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
    <%}%>
</div>

<div>
    <a href="/profile">Return to Profile</a>
    <a href="/feed">Return to Feed</a>
</div>

<%- include('partials/footer') -%>