<%- include('partials/header') -%>

    <div>
        <div class="profile-header">
            <div class="index-title">
                <img src="/img/logo.svg" alt="">
                <h1>Reading Recs</h1>
            </div>
            <div>
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
            </div>
        </div>
        <div class="page-title">
            <h2>Your Profile</h2>
            <a href="/feed" class="page-subtitle">Your Feed</a>
            <a href="/favourites" class="page-subtitle">Your Favourites</a>
            
        </div>
        <div class="profile-content">
            <div class="profile-form-content">
                <form action="/post/createPost" enctype="multipart/form-data" method="POST" class="profile-form">
                    <h2>Add a post:</h2>
                    <div class="profile-form-input">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title">
                    </div>
                    <div class="profile-form-input">
                        <label for="shouldIRead">Author</label>
                        <input type="text" name="author" id="author"/>
                    </div>
                    <div class="profile-form-input">
                        <label for="shouldIRead">Should I Read It?</label>
                        <input type="text" name="shouldIRead" id="shouldIRead" maxlength="20" />
                    </div>
                    <div class="profile-form-input">
                        <label for="caption">Why Should I Read It?</label>
                        <textarea type="text" name="caption" id="caption" rows="5"></textarea>
                    </div>
                    <div class="profile-form-input">
                        <label for="rating">5 Star Rating</label>
                        <input type="number" name="rating" id="rating" min="1" max="5">
                    </div>
                    <div class="profile-form-input file-input">
                        <label for="imageUpload" class="image-wrapper">
                            <i class="plus-icon fa fa-plus" aria-hidden="true"></i>
                        </label>
                        <input type="file" id="imageUpload" name="file" class="file" style="display: none;">
                    </div>
                    <button type="submit" value="Upload" class="submit-btn">Submit</button>
                </form>
                <div class="profile-options">
                    <a href="/feed">Go to Feed</a>
                    <a href="/favourites">Favourites</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <div class="profile-posts">
                <ul class="parent">
                    <% for(let i = 0; i < posts.length; i++){%>
                        <li>
                            <a href="/post/<%= posts[i]._id%>">
                                <img class="child" src="<%= posts[i].image%>" alt="">
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

<%- include('partials/footer') -%>